
.btn {
  width: 20.16vw; // 387px
  height: 4.17vw; // 80px
  border-radius: 0.83vw; // 16px
  font-size: 1.56vw; // 30px
}

.top-block {
  img {
    width: 100%;
  }

  &__content {
    gap: 4.06vw; // 78px
    width: 100%;
    max-width: 58.02vw; // 1114px
    padding: 5.57vw 0.63vw; // 107px 12px
    margin: 0 auto;
  }

  &__text {
    font-size: 1.35vw; // 26px
  }
}

.questions-block {
  padding-top: 3.91vw; // 75px

  .question {
    &__top {
      font-size: 4.06vw; // 78px
      line-height: 100%;
      margin-bottom: 2.92vw; // 56px
    }

    &__text {
      font-size: 3.13vw; // 60px
      text-align: center;
    }
  }

  .answers {
    margin-top: 3.70vw; // 71px

    .answer {
      &__text {
        div {
          max-width: 65%;
          font-size: 2vw;
          text-align: center;
        }
      }

      &:hover:after {
        border: 0.94vw solid #96ea28; // 18px
      }
    }
  }
}

.final-block {
  grid-column-gap: 2.45vw; // 47px

  &__image {
    max-width: 50vw;
  }

  &__title {
    font-size: 5.3vw;
    line-height: 100%;
    margin-bottom: 4.38vw; // 84px

    .restart {
      width: 5.21vw; // 100px
      min-width: 5.21vw; // 100px
      height: 5.21vw; // 100px
      border-radius: 1.56vw; // 30px
    }
  }


  &__text {
    font-size: 1.4vw;
  }

  .drivee {
    border-radius: 4.17vw; // 80px
    margin-top: 4.38vw; // 84px
    margin-left: -4.79vw; // 92px

    &__content {
      padding: 3.39vw 3.39vw 2.08vw; // 65px 65px 40px
    }

    &__text {
      font-size: 1.35vw; // 26px
      margin-bottom: 2.08vw; // 40px
    }

    &__title {
      font-size: 2.60vw; // 50px
      line-height: 110%;

      img {
        max-width: 21%;
      }
    }

    &__links {
      border-radius: 4.17vw; // 80px
      padding: 1.30vw 3.39vw; // 25px 65px
      font-size: 1.56vw; // 30px
    }
  }
}

.description-block {
  margin-top: 5.21vw; // 100px
  margin-bottom: 10.42vw; // 200px
  gap: 4.06vw; // 78px

  &__text {
    font-size: 2.60vw; // 50px
    margin-bottom: 1.04vw; // 20px
  }

  &__links {
    gap: 0.52vw; // 10px
  }
}

.infographics-block {
  gap: 1.04vw; // 20px
  padding-bottom: 4.17vw; // 80px

  &__item {
    border-radius: 4.17vw; // 80px

    &--1 {
      width: calc(50% - 0.52vw);
      padding: 0 1.56vw 2.08vw 1.04vw; // 0 30px 40px 20px
      gap: 1vw;

      .infographics-block__image {
        min-width: 65%;
      }
    }

    &--2 {
      width: calc(50% - 0.52vw);
      padding: 2.08vw 0.52vw 2.08vw 2.08vw; // 40px 10px 40px 40px

      .infographics-block__image {
        min-width: 50%;
      }
    }

    &--3 {
      width: calc(100% / 3 - 0.73vw);
      padding: 2.08vw 0.52vw 2.08vw 2.08vw; // 40px 10px 40px 40px

      .infographics-block__image {
        min-width: 60%;
      }
    }

    &--4 {
      width: calc(100% / 3 - 0.73vw);
      padding: 2.08vw 0.52vw 2.08vw 2.08vw; // 40px 10px 40px 40px
      gap: 1vw;

      .infographics-block__image {
        min-width: 48%;
      }
    }

    &--5 {
      width: calc(100% / 3 - 0.73vw);
      padding: 3.65vw 3.65vw 2.08vw 3.65vw; // 70px 70px 40px 70px

      .infographics-block__text {
        max-width: 13.91vw; // 267px
      }
    }
  }

  &__text {
    font-size: 1.30vw; // 25px
  }
}

//footer {
//  padding: 1.04vw 0; // 20px
//
//  .footer {
//    font-size: 0.78vw; // 15px
//  }
//}
